html, body {
  margin: 0;
  width: 100%;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#dom-table {
  border-spacing: 20px;
}

.row {
  animation: slide-up 0.4s ease;
}

.cell {
  text-align: center;
  font-weight: 600;
}

.head {
  border: 2px solid slateblue;
  border-radius: 5px;
  padding: 10px;
  color: slateblue;
  transition: border 0.5s ease;
  transition: background-color 0.5s ease;
  /* box-shadow: 0 1px 16px 0 rgba(0,0,0,0.2),0 6px 14px 0 rgba(0,0,0,0.19) !important; */
}

.head:hover {
  background-color: slateblue;
  color: white;
}

.cell > input {
  border: 2px solid gainsboro;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  transition: border 0.5s ease;
  width: 180px;
}

.cell > input:focus {
  outline: none;
  border: 2px solid slateblue;
}

.cell > input:hover {
  border: 2px solid slateblue;
}

.sum {
  background-color: slateblue;
  color: white;
  border-radius: 5px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  width: 180px;
  padding: 10px;
}

button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 25px 25px 0;
  border-radius: 50%;
  background-color: slateblue;
  border: none;
  color: white;
  transition: border 0.5s ease;
  transition: background-color 0.5s ease;
  height: 100px;
  width: 100px;
  font-size: xx-large;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: slateblue;
  border: 2px solid slateblue;
}

button:focus {
  outline: none;
}

h1 {
  display: inline-block;
  align-self: flex-start;
  background-color: slateblue;
  padding: 10px 10px 10px 25px;
  color: white;
  width: 500px;
}

h1:after {
  position: absolute;
  content: "";
  display: block;
  left: 20%;
  top: 125px;
  transform: rotate(45deg);
  width: 50px;
  background-color: white;
  height: 50px;
  margin-left: 125px;
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(10px);
      transition-duration: 3s;
  }
  100% {
      opacity: 1;
      transform: translateY(0);
      transition-duration: 3s;
  }
}

